# Site settings
site: Krtkush
title: Kartikey Kushwaha
page_title: KARTIKEY KUSHWAHA
keywords: blog, krtkush
description: Web Log of Kartikey Kushwaha
lang: en-US
timezone:  Europe/Berlin
repo: https://github.com/krtkush/krtkush.github.io # site repo [optional]

# Author settings
author:
  name: Kartikey Kushwaha
  bio: Writing to think, reflect, learn and share.
  picture:
  email:

# URL settings
url: "https://www.krtkush.com" # Domain Name of host. [username].github.io for github pages
permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
paginate: 30
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false