{% if page.comments %}
	<section class="comment-area w-100">
		<div class="comment-wrapper">
			<script src="https://giscus.app/client.js"
					data-repo="krtkush/krtkush.github.io"
					data-repo-id="MDEwOlJlcG9zaXRvcnk1NDkwODIyNQ=="
					data-category="General"
					data-category-id="DIC_kwDOA0XVQc4CeUtw"
					data-mapping="pathname"
					data-strict="1"
					data-reactions-enabled="1"
					data-emit-metadata="0"
					data-input-position="top"
					data-theme="preferred_color_scheme"
					data-lang="en"
					data-loading="lazy"
					crossorigin="anonymous"
					async>
			</script>
			<noscript>Please enable JavaScript to view the comments.</noscript>
		</div>
	</section>
{% endif %}