// COLORS
$color-fg: #eeeeee; // Background color for code blocks
$color-bg: #FFFFFF; // Primary background color
$color-primaryfont: #333333; // Font color for primary font
$color-link: #1800ae; // Font color for links
$color-code: #313131; // Font color for code lines

// FONT
$font-url: "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600";
$font-family: "'Playfair Display', serif ";

// BREAKPOINTS
$br: 600px;
