// COLORS
$color-fg: #eeeeee;
$color-bg: #FFFFFF;
$color-primaryfont: #333333;
$color-grey: #EEEEEE;
$color-link: #00b973;
$color-code: #313131;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
