{% include header.html %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="profile">
		<div class="profile-about">
			<h3 style="margin-bottom: 0; font-weight: 400;">
				<a href="{{ site.url }}">
					{{site.page_title}}
				</a>
			</h3>
			<br>
			<div class="bio">
				{{ site.author.bio }}
			</div>
			<br>
				{% include menu.html %}
			<br>
		</div>
		<a href="{{ site.url }}/pixel-art-steam-deck/">
			<img class = "header-img" src="../assets/images/pixel-art/SteamDeck.png" alt="Pixel Art" />
		</a>
	</div>
	{{ content }}
</div>
{% include footer.html %}
<div class="footer">
</div>
